<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869554311538-oc9foc10kljq10eu276lvl52js3gf52r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869554311538-oc9foc10kljq10eu276lvl52js3gf52r</string>
	<key>API_KEY</key>
	<string>AIzaSyAVP5Fj0vgPU1Yt09l6S7F6UBwnGA6gzOw</string>
	<key>GCM_SENDER_ID</key>
	<string>869554311538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationexplorer</string>
	<key>PROJECT_ID</key>
	<string>location-explorer-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>location-explorer-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869554311538:ios:4794e3b42242afbb15cdeb</string>
</dict>
</plist>